body{
    background-color: #232323;
    margin: 0;
}

.square{
    border-radius: 50px;
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    margin: 1.66%;
    float:left;
        transition: background 0.3s;
    margin-top: 10px;
}

#container{
    max-width:600px;
    margin: 20px auto;
}

h1{
    color: white;
    text-align: center;
    background: steelblue;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: normal;
    text-transform: uppercase;
}

#stripe{
    text-align: center;
    background: white;
}



#message{
    color: black;
    display: inline-block;
    width: 20%;
}

.selected{
    background: steelblue;
    color: white;
    
}

button:hover{
     background: steelblue;
    color: white;
    
}

#colorDisplay{
    font-size: 200%;
}

button{
    border: none;
    background: none;
     text-transform: uppercase;
   height: auto;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.3s;
    outline: none;
}